
<div class="row">
<br/>
	<nav class="nav nav-pills">
		<section ng-init = "tab = 1" >
			<ul class="nav nav-pills">
			  <li role="presentation"  ng-class="{'active' : tab==1}"><a href="#/amicust" ng-click="tab = 1">Submit Request</a></li>
			  <li role="presentation"  ng-class="{'active' : tab==2}"><a href="#/amicust" ng-click="tab = 2">Review Interpretation</a></li>
			  <li role="presentation" ng-class="{'active' : tab==3}"><a href="#/amicust"  ng-click="tab = 3">Profile</a></li>
			  <li role="presentation" ng-class="{'active' : tab==4}"><a href="#/amicust"  ng-click="tab = 4">Help</a></li>
			  <li role="presentation" ng-class="{'active' : tab==5}"><a href="#/amicust"  ng-click="tab = 5">Logout</a></li>
			</ul>
		</section>
	</nav>
	
	<br/>

	<div class="panel panel-default">
	  <div class="panel-heading">Hospital & Client Info</div>
	  <div class="panel-body">
	    <!--  Veterinarian and Lab Row -->
	    <div class="row">
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="vetId	" placeholder="Veterinarian">
		    </div>
		   
		   <div class="col-sm-6">	    
				<div class="form-inline">
				  <div class="form-group">
						  <div class="input-group">
						  	<input type="text" class="form-control" id="labListId" placeholder="Lab Account">
						  </div>
						  <div class="input-group">
								<select class="form-control">
						          <option>Select Lab</option>
						          <option>PCL</option>
						          <option>IDEXX</option>
						          <option>Antech</option>
							    </select>
						 </div> 
				  </div>
				</div>
			</div>
		</div>
		<br/>
		<!--  Clients  Row -->
		<div class="row">
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="vetId	" placeholder="Client's First Name">
		    </div>
		    
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="labActId	" placeholder="Client's Last Name">
		    </div>
		    
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="labActId	" placeholder="Client's Id">
		    </div>
		    
		    <div class="col-sm-4">
			    <span >Is the client an employee? </span> &nbsp;
			    <label class="radio-inline">
				  <input type="radio" name="employeeOptions" id="empoyeeRadio1" value="option1">Yes
				</label>
				<label class="radio-inline">
				  <input type="radio" name="employeeOptions" id="empoyeeRadio2" value="option2" checked="checked">No
				</label>
			</div>
		</div>
	  </div>
	</div> <!-- End of 1st pannel -->
	
	<div class="panel panel-default">
	  <div class="panel-heading">Patient Info</div>
	  	<div class="panel-body">
	  
		    <div class="row">
		    
		    	 <div class="col-sm-3">
			      <input type="text" class="form-control" id="vetId	" placeholder="Animal's Name">
			    </div>
			    
			     <div class="col-sm-1">
				       <select class="form-control">
						  <option>Sex</option>
						  <option>F/s</option>
						  <option>M/c</option>
						  <option>F</option>
						  <option>M</option>
						</select>
				</div>
				
				<!-- Weight -->
				<div class="col-sm-3">	    
					<div class="form-inline">
					  <div class="form-group">
						  <div class="input-group">
						  	<input type="text" class="form-control" id="weightId	" placeholder="weight">
						  </div>
						  
						  <div class="input-group">
								<select class="form-control">
						          <option>LB</option>
						          <option>KG</option>
							    </select>
						 </div> 
					  </div>
					</div>
				</div>
				
				<!-- Age -->
				<div class="col-sm-4">	    
					<div class="form-inline">
						<div class="form-group">
								<label  for="ageLabId">Age:</label>
								    
							    <div class="input-group">
							      <select id="ageLabId" class="form-control" ng-model="years">
									  <option>Years</option>
									  <option>1</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									</select>
							    </div>
								    
							    <div class="input-group">
							       <select  id="monghLabId" class="form-control" ng-model="months">
									  <option>Months</option>
									  <option>1</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									</select>
							    </div>
								{{ years }} years and {{ months	}} months
						</div>
					</div>
				</div>
			</div>
		
			<br/>
			
			<div class="row">
			    
			     <div class="col-sm-4">
				      <select class="form-control">
						  <option>Species</option>
						  <option>Canine</option>
						  <option>Feline</option>
						</select>
			    </div>
			    
			    <div class="col-sm-4">
				      <select class="form-control">
						  <option>Breed</option>
						  <option>German Sheppard</option>
						  <option>Pitbul</option>
						</select>
			    </div>
			</div>
		
	    </div>
	</div> <!--  End of Patient Info panel -->
	
	<div class="panel panel-default">
	  <div class="panel-heading">Services</div>
	  <div class="panel-body">
	  		
	  		<div class="row">
	  		<div class="col-sm-5">
			    <label class="radio-inline">
				  <input type="radio" name="employeeOptions" id="empoyeeRadio1" value="option1" checked="checked">Interpretation Only
				</label>
				<label class="radio-inline">
				  <input type="radio" name="employeeOptions" id="empoyeeRadio2" value="option2" >Imaging (includes interpretation)
				</label>
			</div>
			
			<div class="col-sm-7">
				<label class="checkbox-inline">
				  <input type="checkbox" id="inlineCheckbox1" value="option1"> <span class="label label-danger">STAT</span>
				</label>
			</div>
			
			
			
			<div class="col-sm-12">
			<br/>
				  <p>Please Select the services you want Animal Medical Imaging to perform</p>
		    </div>
		    
		    <div class="col-sm-3">
		      <select class="form-control">
				  <option>Contrast Radiography</option>
				  <option>Myelogram</option>
				  <option>Arthrogram</option>
				</select>
		    </div>
		    <div class="col-sm-3">
		      <select class="form-control">
				  <option>Computed Tomography</option>
				  <option>Brain With Contrast</option>
				  <option>Brain With Contrast and/or CSF tap</option>
				</select>
		    </div>
		    <div class="col-sm-3">
		      <select class="form-control">
				  <option>Radiography/Fluoroscopy</option>
				  <option>Thorax</option>
				  <option>Abdomen</option>
				  <option>Pelvis</option>
				</select>
		    </div>
		    <div class="col-sm-3">
		      <select class="form-control">
				  <option>Ultrasound</option>
				  <option>Abdomen</option>
				  <option>Heart</option>
				  <option>Uterus</option>
				</select>
		    </div>
		    
		    </div>
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Veterinarian Observation</div>
	    <div class="panel-body">
		  <div class="row">
			   <div class="col-sm-12">
				   <label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" value="option1">Anesthetized?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" value="option2">Sedated?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">Fasted?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">Enema?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">Painful?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">Fractious?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">Shocky?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">Dyspneic?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">Fractious?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">Died?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">Euthanized?
					</label>
				</div>
				
				<div class="col-sm-12">
			  		<p> HISTORY, CHIEF COMPLAIN, PHYSICAL FINDINGS (S.O.A.P). Please provide a case summary, not the entire record.</p>
			   	</div>
			   
			    <div class="col-sm-12">
					  	<div class="form-group">	
						    <label for="exampleInputEmail1">Exam</label>
						    <textarea class="form-control" rows="3"></textarea>
					    </div>
					  	<div class="form-group">
						    <label for="exampleInputEmail1">Tentative Diagnosis</label>
						    <textarea class="form-control" rows="3"></textarea>
					    </div>
		    	</div>
		    </div>
	    </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Images / Documents</div>
	    <div class="panel-body">
		  	<div class="row">
		  		<div class="col-sm-12">
			  		<p>I am providing Images / documents with this request</p>
			   	</div>
		   		<div class="col-sm-12">
				   <label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" value="option1">By Carrier
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" value="option2">By Email
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3">By Upload
					</label>
				</div>
				
				<div class="col-sm-12">
				  	<div class="form-group">	
					    <label for="exampleInputEmail1">Notes</label>
					    <textarea class="form-control" rows="3" placeholder="Please provide any details that will help us identify all the documents that go with this request"></textarea>
				    </div>
		    	</div>
			</div>	
	    </div>
	</div>
	
</div>
