
<div class="row">
<br/>
<!-- 	<nav class="navbar navbar-inverse"> -->
	<nav class="nav nav-pills">
		<section ng-init = "tab = 1" >
			<ul class="nav nav-pills">
			  <li role="presentation"  ng-class="{'active' : tab==1}"><a href="#/amicust" ng-click="tab = 1">Submit Request</a></li>
			  <li role="presentation"  ng-class="{'active' : tab==2}"><a href="#/amicust" ng-click="tab = 2">Review Interpretation</a></li>
			  <li role="presentation" ng-class="{'active' : tab==3}"><a href="#/amicust"  ng-click="tab = 3">Profile</a></li>
			  <li role="presentation" ng-class="{'active' : tab==4}"><a href="#/amicust"  ng-click="tab = 4">Help</a></li>
			  <li role="presentation" ng-class="{'active' : tab==5}"><a href="#/amicust"  ng-click="tab = 5">Logout</a></li>
			</ul>
		</section>
	</nav>
	
	<br/>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Hospital & Client Info</div>
	  <div class="panel-body">
	    
	    <div class="form-group">
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="vetId	" placeholder="Veterinarian">
		    </div>
		    <div class="col-sm-2">
			      <select class="form-control">
					  <option>Select Lab</option>
					  <option>PCL</option>
					  <option>IDEXX</option>
					  <option>Antech</option>
					</select>
		    </div>
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="labActId	" placeholder="Lab Account">
		    </div>
		</div>
		
		<br/>
		
		<div class="form-group">
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="vetId	" placeholder="Client's First Name">
		    </div>
		    
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="labActId	" placeholder="Client's Last Name">
		    </div>
		    
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="labActId	" placeholder="Client's Id">
		    </div>
		    
		    <div class="col-sm-4">
			    <span >Is the client an employee? </span> &nbsp;
			    <label class="radio-inline">
				  <input type="radio" name="employeeOptions" id="empoyeeRadio1" value="option1">Yes
				</label>
				<label class="radio-inline">
				  <input type="radio" name="employeeOptions" id="empoyeeRadio2" value="option2" checked="checked">No
				</label>
			</div>
		</div>
	  </div>
	</div>
	
	
	<div class="panel panel-default">
	  <div class="panel-heading">Patient Info</div>
	  <div class="panel-body">
	    <div class="form-group">
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="vetId	" placeholder="Name">
		    </div>
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="vetId	" placeholder="Age">
		    </div>
		    <div class="col-sm-2">
			      <select class="form-control">
					  <option>Species</option>
					  <option>Canine</option>
					  <option>Feline</option>
					</select>
		    </div>
		    <div class="col-sm-2">
			      <select class="form-control">
					  <option>Breed</option>
					  <option>German Sheppard</option>
					  <option>Pitbul</option>
					</select>
		    </div>
		    <div class="col-sm-1">
			      <select class="form-control">
					  <option>Sex</option>
					  <option>F/s</option>
					  <option>M/c</option>
					  <option>F</option>
					  <option>M</option>
					</select>
		    </div>
		    
		    <div class="col-sm-1">
		    	  <input type="text" class="form-control" id="weightId	" placeholder="Weight">
		    </div>
		    <div class="col-sm-1">
			      <select class="form-control">
					  <option>LB</option>
					  <option>KG</option>
				</select>
		    </div>
		    
		</div>
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Services</div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Veterinarian Observation</div>
	  <div class="panel-body">
	  
	  	<div class="form-group">
		    <label for="exampleInputEmail1">Exam</label>
		    <textarea class="form-control" rows="3"></textarea>
	    </div>
	  	<div class="form-group">
		    <label for="exampleInputEmail1">Tentative Diagnosis</label>
		    <textarea class="form-control" rows="3"></textarea>
	    </div>
	    
	    
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Images / Documents</div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
	
</div>
