
<!-- 		<div class="container"> -->
		
<!-- 			<p><h4>Animal Medical Imaging</h4> </p>  -->
<!-- 			<p><a class="btn btn-primary btn-lg" href="#/amicust" role="button">Animal Medical Imaging</a></p> -->
<!-- 			<hr/> -->
<!-- 		</div> -->
		
		<div class="page-header">
		  <h1>Animal Medical Imaging <small>Veterinary radiology</small></h1>
		  
		  
		</div>
		
		<div class="jumbotron">
			   	<div class="row">
			   		<div class = "col-md-1"> <a href="#/amicust">Login</a> </div>
			   		<div class = "col-md-1"> <a href="#">About us</a> </div>
			   		<div class = "col-md-2"> <a href="#">Contact us</a> </div>
			   	</div>
		   		
		   		<br/>
		   		<div class="row">
			   	<div class="col-md-9">
				   
				   <p> Doctor Charles Root is proud of the relation he's established among his
				       peers and patient since the establishment of practise in the Seattle area in 1984.</p>
				       
				   <p> Veterinarian can now access their interpretations online. <br/>
				   Please <a href="#">contact us</a> to request access.</p>
<!-- 				   <p><a class="btn btn-primary btn-lg" href="#/amicust" role="button">Proceed</a></p>  -->
				   
			    </div>
			   <div class="col-md-3">
<!-- 				   <img src="resources/app/assets/img/xray.jpg" alt="Mountain View" style="width:204px;height:128px"> -->
<!-- 				   <img src="resources/app/assets/img/xray_ok.jpeg" alt="Mountain View" style="width:154px;height:120px"> -->
				   <img src="resources/app/assets/img/xray_dog.jpeg" alt="Mountain View" style="width:199px;height:128px">
			   </div>
		   </div>
		   
		</div>
	